<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlightBooking">
  <test name="Test">
    <classes>
      <class name="com.executing.textng.DataProviderForTestNG"/>
      <class name="com.executing.textng.MySecondDataProviderClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- FlightBooking -->
